.button {
  width: 64px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 16px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #4bcfa0;
}

.bigButton {
  width: 235px;
  background: #50daa8;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-transform: none;
  color: #ffffff;
}

.buttonSubmit {
  display: flex;
  align-items: center;
  margin-top: 32px;
  padding: 14px 96px;
  justify-content: center;
  width: 100%;
  background: #4bcfa0;
  border-radius: 16px;
  border-color: transparent;
  color: #ffffff;
}

.buttonArrow {
  display: none;
}

.buttonSubmit:hover {
  border-color: #50daa8;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.buttonSubmit:hover .buttonArrow {
  display: block;
  margin-left: 8px;
}

.button:hover {
  background: #4bcfa0;
  color: #ffffff;
}
