.form {
  display: flex;
  flex-direction: column;
}

.formInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 16px;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.valid {
  border: 1px solid #4bcfa0;
  box-sizing: border-box;
  border-radius: 16px;
}

.err {
  border: 1px solid #e43f3f;
  box-sizing: border-box;
  border-radius: 16px;
}

.error {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #e43f3f;
}
